

block nav
  .nav
    .nav__logo
      .nav__logo-figure
      p.nav__logo-title
        | T <span></span>XIN
    .nav__menu
      ul.nav__menu-list
        li <b>Home</b>
        li About Us
        li Services
        li Careers
        li News
        li Documentation
    .nav__reg
      button.btn.login
        span.login LOGIN
      button.btn.regist
        span.register REGISTER

